/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap);

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #f09819 !important;
    --mdc-snackbar-supporting-text-color: rgba(255, 255, 255);
    --mdc-snackbar-supporting-text-line-height: 24px;
    --mdc-snackbar-supporting-text-size: 18px;
}